body
{
margin-left : 10%;
margin-right: 10%;
background: silver;
}

.div_body
{
background:  #e6e6ff;
}

#banner, #footer
{
text-align: center;
}

.tbl
{
width: 40%;
}


p::first-letter
{
font-size: 150%;
color: DarkBlue;
}
